/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #2a2f3d;
}

.container {
    max-width: 700px;
    width: 100%;
    background: #edf7f6;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
    font-size: 1.6rem;
    color: #333;
    font-weight: 600;
    text-align: center;
}

.form {
    margin-top: 20px;
}

.input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
}

.input-box input,
.select-box select {
    width: 100%;
    height: 50px;
    /* margin-top: 8px; */
    padding: 0 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    color: #555;
    outline: none;
}

.input-box input:focus,
.select-box select:focus {
    border-color: #253FF6;
    box-shadow: 0 0 3px rgba(37, 63, 246, 0.5);
}

.column {
    display: flex;
    row-gap: 50px;
    column-gap: 10px;
    align-items: center;
}

.gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color: #333;
    margin-bottom: 10px;
}

.gender-option,
.gender {
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.gender input {
    accent-color: #253FF6;
}

.gender label {
    color: #555;
    cursor: pointer;
}

.address input,
.select-box {
    margin-top: 15px;
}

.form button {
    width: 100%;
    height: 55px;
    background: rgb(130, 106, 251);
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover {
    background: rgb(88, 56, 250);
}

/* Responsive */

@media (max-width: 500px) {
    .column {
        flex-wrap: wrap;
    }

    .gender-option {
        row-gap: 10px;
    }
}