/* Importing Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #007595;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.6);
}
.container .registration {
    display: none;

}

#check:checked ~ .registration {
    display: block;

} 

#check:checked ~ .login {
    display: none;

}

#check{
    display: none;
}

.container .form {
    padding: 2rem;
    transition: all 0.3s ease;
}

.form header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #007095;
    border-radius: 8px;
    outline: none;
}

.form input:focus {
    box-shadow: 2px 5px 5px #0070954d;
}

.form a {
    font-size: 1rem;
    color: #007595;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form input.button{
    font-size: 1.5rem;
    color: #fff;
    background-color: #007095;
    font-weight: 500;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 1px;
}

.form input.button:hover {
    background-color: #005c7a;
}

.signup {
    font-size: 1rem;
    text-align: center;
}

.signup label {
    color: #007595;
    cursor: pointer;
}

.signup label:hover {
    text-decoration: underline;
}


.input-field {
    position: relative;
}

.input-field i {
    position: absolute;
    top: 35%;
    right: 15px;
    transform: translateY(-50%);
    color: #000000;
    cursor: pointer;
}

.input-field input {
    padding-right: 3rem;
}

@media (max-width: 480px) {
    .container {
        max-width: 90%;
        padding: 1rem;
    }
    .form input {
        height: 50px;
        font-size: 0.9rem;
    }
    .form header {
        font-size: 1.5rem;
    }
}