/* Importing Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background: #2192ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #fff;
    border-radius: 9px;
    padding: 30px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
}

nav ul li {
display: inline-block;
list-style: none;
font-size: 2rem;
padding: 0 10px;
margin: 0 20px;
cursor: pointer;
font-weight: 500;
position: relative;
}

nav ul li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background-color: #2192ff;
    left: 0;
    bottom: -5px;
    transition: all ease 0.4s;
}

nav ul li:hover::after {
    width: 100%;
}