
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://picsum.photos/1200/800?blur=2") no-repeat center center/cover;
    font-family: sans-serif;
}


.glass-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff26;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #ffffff33;
    box-shadow: 0 8px 32px #00000033;
}


.loader {
    height: 200px;
    width: 200px;
    border: 20px solid #ffffff33;
    border-radius: 50%;
    border-right-color: #3a85ff;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}